.recipe-item {
  width: 100%;
  max-width: 18rem;
  height: 100%;
  border-radius: 1rem;
  box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: scale(0.95);
  transition: all 0.25s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transform: scale(1);
  }

  &__title {
    margin: 0 1.5rem;
    margin-top: 1rem;
    font-size: 16px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  &__footer {
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__action-text {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);

    span {
      display: block;
    }
  }

  &__action {
    display: flex;
    gap: 0.5rem;
  }
}
