<div class="recipe-filters">
  <h2>Recipe filters</h2>
  <div class="recipe-filters__sliders">
    <app-recipe-slider
      [slider]="sliderCalories"
      (changeSliderValuesEvent)="onChangeSliderValues($event)"
    ></app-recipe-slider>
    <app-recipe-slider
      [slider]="sliderCarbs"
      (changeSliderValuesEvent)="onChangeSliderValues($event)"
    ></app-recipe-slider>
    <app-recipe-slider
      [slider]="sliderProtein"
      (changeSliderValuesEvent)="onChangeSliderValues($event)"
    ></app-recipe-slider>
    <app-recipe-slider
      [slider]="sliderFat"
      (changeSliderValuesEvent)="onChangeSliderValues($event)"
    ></app-recipe-slider>
  </div>
</div>
