<div class="recipe-filters">
  <h4>Recipe query</h4>
  <mat-form-field class="recipe-filters__input" appearance="outline">
    <mat-label>Choose favorite food</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      [value]="recipeQuery"
      (keyup)="onChangeQueryValue($event)"
      (keyup.enter)="onGetRecipes()"
    />
    <mat-icon color="primary" matSuffix>search</mat-icon>
  </mat-form-field>
  <h4>Recipe filters</h4>
  <div class="recipe-filters__sliders">
    <app-recipe-slider
      [slider]="sliderCalories"
      (changeSliderValuesEvent)="onChangeSliderValues($event)"
    ></app-recipe-slider>
    <app-recipe-slider
      [slider]="sliderCarbs"
      (changeSliderValuesEvent)="onChangeSliderValues($event)"
    ></app-recipe-slider>
    <app-recipe-slider
      [slider]="sliderProtein"
      (changeSliderValuesEvent)="onChangeSliderValues($event)"
    ></app-recipe-slider>
    <app-recipe-slider
      [slider]="sliderFat"
      (changeSliderValuesEvent)="onChangeSliderValues($event)"
    ></app-recipe-slider>
  </div>
  <div class="recipe-filters__actions">
    <button mat-raised-button color="accent" (click)="resetAllFilters()">
      Reset All Filters
    </button>
    <button mat-raised-button color="primary" (click)="onGetRecipes()">
      Add Filters
    </button>
  </div>
</div>
