<div class="header">
  <a routerLink="/" class="header__logo">Food Spoon Header</a>
  <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="!itemsQuantity"
      matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu" class="cart-menu">
    <div *ngIf="!cart.items.length">
      <span mat-menu-item>No items in Cart</span>
    </div>
    <div *ngIf="cart.items.length">
      <a mat-menu-item routerLink="cart-list" class="cart-menu__title">
        <span> View Cart List </span>
        <mat-icon color="primary" class="cart-menu__title-icon"
          >segment</mat-icon
        >
      </a>
      <div
        mat-menu-item
        *ngFor="let item of cart.items"
        class="cart-menu__item"
      >
        <div class="cart-menu__img">
          <img [src]="item.image" [alt]="item.title" />
        </div>

        <span>{{
          item.title.length > 25
            ? (item.title | slice: 0:25) + "..."
            : item.title
        }}</span>
      </div>
    </div>
  </mat-menu>
</div>
