.header {
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  padding: 0 2rem;
  background: rgba(233, 185, 122);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #3f51b5;
  }
}

.cart-menu {
  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__img {
    width: 3rem;
    overflow: hidden;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-icon {
    margin: 0 !important;
  }
}
