.details-header {
  &__top {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
    }
  }

  &__favorite {
    margin-right: 0.5rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
  }

  &__rating {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.54);
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }

  &__bottom {
    margin: 2rem 0;
    padding: 1rem;
    background: rgba(233, 185, 122, 0.7);

    background: #f1f1f1;
    border-radius: 5px;

    span {
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      background: rgb(255, 255, 255);
      border-radius: 3px;
    }
  }

  &__serving {
    text-transform: uppercase;

    p {
      margin: 0;
      color: rgba(0, 0, 0, 0.54);

      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      gap: 0.5rem;
    }

    em {
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.94);
    }
  }
}
