.details-footer {
  margin-top: 2rem;
  border-top: 1px solid #f1f1f1;
}

.list {
  margin-top: 2rem;

  &__item {
    padding: 1rem;
    overflow: hidden;

    &:nth-child(odd) {
      background: #f1f1f1;
    }
  }

  &__img {
    width: 2rem;
    margin-right: 1rem;
  }
}
