<div *ngIf="recipeDetails" class="main-wrapper">
  <h1>{{recipeDetails.title}}</h1>
  <p>aggregateLikes: {{recipeDetails.aggregateLikes}}</p>
  <div>
    <h2>analyzed Instructions</h2>
    <p *ngFor="let step of recipeDetails.analyzedInstructions[0].steps">
      step {{step.number}}) {{step.step}}
    </p>
  </div>
  <p>cooking Minutes: {{recipeDetails.cookingMinutes }}</p>
  <p>credits Text: {{recipeDetails.creditsText}}</p>
  <div>
    <h2>cuisines</h2>
    <p *ngFor="let cuisine of recipeDetails.cuisines">{{cuisine}}</p>
  </div>
  <p>dairy Free: {{recipeDetails.dairyFree}}</p>
  <div>
    <h2>Diets</h2>
    <p *ngFor="let diet of recipeDetails.diets">{{diet}}</p>
  </div>
  <div>
    <h2>Dish types</h2>
    <p *ngFor="let dish of recipeDetails.dishTypes">{{dish}}</p>
  </div>
  <p>gluten free: {{recipeDetails.glutenFree}}</p>
  <p>health score: {{recipeDetails.healthScore}}</p>
  <img [src]="recipeDetails.image" [alt]="recipeDetails.title" />
  <p>instructions: {{recipeDetails.instructions}}</p>
  <p>preparationMinutes: {{recipeDetails.preparationMinutes}}</p>
  <p>pricePerServing: {{recipeDetails.pricePerServing}}</p>
  <p>readyInMinutes: {{recipeDetails.readyInMinutes}}</p>
  <p>servings: {{recipeDetails.servings}}</p>
  <p>sourceName: {{recipeDetails.sourceName}}</p>
  <p>summary: {{recipeDetails.summary}}</p>
  <a [href]="recipeDetails.sourceUrl">sourceUrl</a>
  <p>vegan: {{recipeDetails.vegan}}</p>
  <p>vegetarian: {{recipeDetails.vegetarian}}</p>
  <p>veryHealthy: {{recipeDetails.veryHealthy}}</p>
  <p>veryPopular: {{recipeDetails.veryPopular}}</p>
  <p>weightWatcherSmartPoints: {{recipeDetails.weightWatcherSmartPoints}}</p>
</div>
