<div *ngIf="recipeDetails" class="main-wrapper">
  <div class="details">
    <app-recipe-details-header
      [recipeDetails]="recipeDetails"
    ></app-recipe-details-header>
    <div class="details__left">
      <img [src]="recipeDetails.image" [alt]="recipeDetails.title" />

      <p>credits Text: {{ recipeDetails.creditsText }}</p>
      <!-- <div>
        <h2>cuisines</h2>
        <p *ngFor="let cuisine of recipeDetails.cuisines">{{cuisine}}</p>
      </div> -->
      <!-- <p>dairy Free: {{recipeDetails.dairyFree}}</p> -->
      <div>
        <h2>Diets</h2>
        <p *ngFor="let diet of recipeDetails.diets">{{ diet }}</p>
      </div>
      <!-- <p>gluten free: {{recipeDetails.glutenFree}}</p>
       -->

      <p>instructions: {{ recipeDetails.instructions }}</p>
      <p>sourceName: {{ recipeDetails.sourceName }}</p>
      <p>summary: {{ recipeDetails.summary }}</p>
      <a [href]="recipeDetails.sourceUrl">{{ recipeDetails.sourceName }}</a>
      <!-- <p>vegan: {{recipeDetails.vegan}}</p>
      <p>vegetarian: {{recipeDetails.vegetarian}}</p>
      <p>veryHealthy: {{recipeDetails.veryHealthy}}</p>
      <p>veryPopular: {{recipeDetails.veryPopular}}</p> -->
      <!-- <p>
        weightWatcherSmartPoints: {{recipeDetails.weightWatcherSmartPoints}}
      </p> -->
    </div>
    <div class="details__right">
      <div class="ingredients">
        <h2>
          <mat-icon color="primary">playlist_add_check</mat-icon>
          Ingredients
        </h2>
        <mat-list role="list">
          <mat-list-item
            class="ingredients__item"
            role="listitem"
            *ngFor="let ingredient of recipeDetails.extendedIngredients"
          >
            <img
              class="ingredients__img"
              [src]="
                ingredient.image
                  ? ingredientImagPath + ingredient.image
                  : ingredientImagPath + 'null.png'
              "
              [alt]="ingredient.name"
            />
            <span
              >{{ ingredient.amount }} {{ ingredient.unit }}
              {{
                ingredient.nameClean ? ingredient.nameClean : ingredient.name
              }}</span
            >
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="ingredients">
    <h2>
      <mat-icon color="primary">playlist_add_check</mat-icon>
      Instructions
    </h2>
    <mat-list role="list">
      <mat-list-item
        class="ingredients__item"
        role="listitem"
        *ngFor="let step of recipeDetails.analyzedInstructions[0].steps"
      >
        <span>step {{ step.number }}: {{ step.step }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
