<div *ngIf="recipeDetails" class="main-wrapper">
  <div class="details">
    <app-recipe-details-header
      [recipeDetails]="recipeDetails"
    ></app-recipe-details-header>
    <div class="details__main">
      <div class="details__left">
        <img [src]="recipeDetails.image" [alt]="recipeDetails.title" />
        <div class="flex-between">
          <h3>{{ recipeDetails.creditsText }}</h3>
          <div>
            <span *ngFor="let cuisine of recipeDetails.cuisines">
              {{ cuisine }}
            </span>
          </div>
        </div>
      </div>
      <div class="details__right">
        <div class="details__summary">
          <h2><mat-icon color="primary">summarize</mat-icon> Recipe summary</h2>
          <p [innerHtml]="recipeDetails.summary"></p>
        </div>
      </div>
    </div>
    <app-recipe-details-footer
      [recipeDetails]="recipeDetails"
    ></app-recipe-details-footer>
  </div>
</div>
