.details {
  width: 100%;
  max-width: 1400px;
  margin: 10rem auto;
  padding: 0 2rem;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
  }

  &__left,
  &__right {
    flex: 1;
  }

  &__left {
    img {
      margin-bottom: 0.5rem;
    }

    span {
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      background: #f1f1f1;
      border-radius: 3px;
    }
  }

  &__summary {
    flex: 1;

    h3 {
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.54);
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
    }
  }
}
