*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
  display: block;
}

.recipes {
  min-height: calc(100vh - 4rem);
  margin-top: 4rem;
  /* border: 1px solid red; */
}

.header {
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  background: rgba(233, 185, 122);
  z-index: 10;

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

/* SCROLLBAR GRNERAL */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(233, 185, 122, 0.5);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(233, 185, 122);
}
