/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  background: rgb(119, 0, 255);
  position: fixed;
  width: 100%;
  height: 3rem;
  top: 0;
  z-index: 10;
}

.recipes {
  /* border: 1px solid red; */
  /* position: relative; */
  margin-top: 3rem;
  /* display: flex; */
}

.recipe-filters {
  background: rgb(214, 229, 234);
  position: fixed;
  width: 20rem;
  min-height: calc(100vh - 3rem);
  padding: 2rem;
}

.custom-slider {
  width: 100%;
}
