.recipe-slider {
  margin-bottom: 1rem;
  // border: 1px solid red;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  &__header {
    height: 100px;
  }

  &__title {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.5rem;

    // .material-icons {
    //   color: red;
    // }
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

::ng-deep {
  .recipe-slider .ngx-slider .ngx-slider-bar {
    background: rgba(233, 185, 122, 0.5);
    height: 3px;
  }
  .recipe-slider .ngx-slider .ngx-slider-selection {
    background-color: rgb(233, 185, 122);
  }

  .recipe-slider .ngx-slider .ngx-slider-pointer {
    width: 10px;
    height: 16px;
    top: -8px;
    border-radius: 3px;
    background-color: #3f51b5;
  }

  .recipe-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .recipe-slider .ngx-slider .ngx-slider-bubble {
    font-size: 14px;
  }
}
